<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @inoculation.user %>
</p>

<p>
  <strong>Appointement at:</strong>
  <%= @inoculation.appointement_at %>
</p>

<p>
  <strong>Mandatory:</strong>
  <%= @inoculation.mandatory %>
</p>

<p>
  <strong>Fulfilled:</strong>
  <%= @inoculation.fulfilled %>
</p>

<p>
  <strong>Vaccine:</strong>
  <%= @inoculation.vaccine_id %>
</p>

<p>
  <strong>Country:</strong>
  <%= @inoculation.country_id %>
</p>

<%= link_to 'Edit', edit_inoculation_path(@inoculation) %> |
<%= link_to 'Back', inoculations_path %>
